:root {
    --color-white: #fff;
    --color-english-violet: #6D466B;
    --color-dark-purpule:#412234;
    --color-light-purpule:#EAD7D7;
    --color-thistle:#D2C4E3;
    --color-wisteria:#B49FCC;
    --color-snow:rgba(234, 215, 215, 0.8);
    --color-red:#c33c3c;
  }

html{
    scroll-snap-type:  y proximity;
    scroll-behavior: smooth;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: "DM Sans",sans-serif;
}
body{
    background-color: var(--color-white);
    color: var(--color-dark-purpule);
}
a{
    text-decoration: none;
    color: inherit;
}
section{
    height: 100vh;
    scroll-snap-align: start; 
    overflow: hidden;
    max-height: 1000px;
    
}

.main-container{
    margin: auto;
    max-width: 1440px;
}

@mixin mobile{
    @media (max-width:738px){
        @content;
    }
}

@mixin tablet{
    @media (max-width:1024px){
        @content;
    }
}
@mixin desktop{
    @media (max-width:1300px){
        @content;
    }
}

.private{
    @include mobile {
        height: fit-content;
      }
   
}
body.sidebar-open {
    pointer-events: none;
}


.sidebar {
    pointer-events: auto;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(234, 215, 215, 0.5);
    z-index: 999; 
}